<!-- <form #userlogin="ngForm" (ngSubmit)="onSubmit(userlogin.value)">
   <label for="userid">User Id:</label>
   <input id="userid" type="text" name="userid" ngModel><br>    
   <label for="password">Password</label>
   <input id="password" type="password" name="password" ngModel><br>
   <button type="submit" value="submit">Submit</button>
</form>   -->
<div class="row">
 
<div class="main col-md-5 ">  
    <p class="sign">Sign in</p>
   <form #userlogin="ngForm" (ngSubmit)="onSubmit(userlogin.value)">
     <input class="box" type="text" placeholder="Username" name="userid" ngModel>
     <input class="box" type="password" placeholder="Password" name="password" ngModel>
     <button class="submit">Sign in</button>
     <p class="forgot"><a href="#">Forgot Password?</a></p> </form></div>
     <div class="wrapper col-md-4">
        <div class="base">
            <div class="base-bottom">
            </div>
            <div class="lock-inside-top">
            </div>
            <div class="lock-inside-bottom">
            </div>
        </div>
        <div [ngClass]="{unlockcirlce:unlocked,lockcirlce:locked}">
            <div class="lock-circle-inside">
            </div>
        </div>
        <div [ngClass]="{unlockbox:unlocked,lockbox:locked}">
        </div>
    </div>

</div>